<footer>

    <section id="contact">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12 white-links">
                <p class="footer-title">About Us</p>
                <ul>
                    <li>
                        <a href="/pages/about-us">About Our Store</a>
                    </li>
                    <li>
                        <a href="/pages/contact-us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/pages/shipping-policy">Shipping Policy</a>
                    </li>
                    <li>
                        <a href="/pages/careers">Careers</a>
                    </li>
                </ul>  
            </div>

            <div class="col-md-6 text-center col-sm-12 col-12 fa-icons white-links mb-2">
                <p class="footer-title">Follow Us</p>
                <a href="https://facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>            
                </a>
              
                <a id="profile-link" target="_blank" href="https://instagram.com/">
                    <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>            
                </a>
              
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>            
                </a>

                <a href="https://linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>            
                </a>
            
            </div>
          
        </div>
    </section>
      
    <section class="bottom-footer">
        <div class="row">
            <div class="col-12 text-center">
                <strong>© Adabmart <span id='year'></span></strong> **This is a fake ecommerce website. All displayed products are not real.
            </div>
        </div>
    </section>

</footer>

</div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-container">
        <i class="fas fa-angle-up"></i>
    </a>

<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>    

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script src="/js/main.js"></script>

</body>
</html>
